@import "~antd/dist/antd.css";

/** APP  **/
.logo {
    float: left;
    width: 50px;
    height: 31px;
    margin: 16px 24px 16px 0;
}

.site-layout {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-bottom: 100%;
}

.ant-menu-dark {
    background: #1d1d1d !important;
}

.footer {
    background: #1d1d1d;
    position: fixed;
    color: #ffffffa6;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.header {
    position: "fixed";
    z-index: 1;
    width: "100%";
}


/** SEARCH - WRITE COMP **/
.card {  
    width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ant-card-head {
    background: #f5f5f5;
}


/** DESCRIPTION PAGE **/
.description-logo {
    width: 150px;
}

.description {
    width: 50%;
    min-width: 550px;
}

#keylogo {
    margin-left: 20px;
    width: 110px;
}

